####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

servers:
  - name: <value>
    ipv4: <value, e.g. 192.168.56.2>
    roles:
      - control-plane
    cpus: <value, e.g. 2>
    memory: <value, e.g. 4096>
  - name: <value>
    ipv4: <value, e.g. 192.168.56.3>
    roles:
      - worker
    cpus: <value, e.g. 2>
    memory: <value, e.g. 4096>
